@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  :root {
    font-family: "Onest Variable", sans-serif;
    color-scheme: light dark;
  }

  html {
    @apply text-gray-900;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  }

  html.dark {
    @apply text-white;
  }

  img.svg-invert {
    filter: invert(1);
  }

  html.dark img.svg-invert {
    filter: invert(0);
  }

  body {
    visibility: hidden;
    /* overflow: hidden; */
  }
  
  html.loaded body {
    visibility: visible;
  }

  



  
}
