@import  "tailwindcss";

:root {
    font-family: 'Onest Variable', sans-serif;
    color-scheme: light dark;
  }

  body{
    background: #d4d6d6;
}

.filter-white {
  filter: brightness(0) invert(1);
}