@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  :root {
    font-family: "Onest Variable", sans-serif;
    color-scheme: light dark;
  }

  html {
    @apply text-gray-900;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
  }

  html.dark {
    @apply text-white;
  }

  img.svg-invert {
    filter: invert(1);
  }

  html.dark img.svg-invert {
    filter: invert(0);
  }

  body {
    visibility: hidden;
    /* overflow: hidden; */
  }

  html.loaded body {
    visibility: visible;
  }
  /* .btn-tab {
  @apply shadow-lg p-1 lg:p-3 text-sm font-medium bg-white dark:bg-gray-800 dark:text-white border border-gray-100 dark:border-gray-700 rounded-lg active:bg-gray-100 dark:active:bg-gray-700;
} */
}
