
<footer class="bg-gray-600 p-1 flex items-center shadow-lg">
    <div class="text-center center mx-auto">
        <div class="flex items-center gap-2">
            <p>Ultima actualización:</p>
            <p id="fecha-actualizacion"></p>
        </div>
        <p class="opacity-80">by <a target="_blank" rel="noopener noreferrer" href="https://felipepoliszuk.vercel.app/">Felipe Poliszuk</a></p>
    </div>
</footer>