

<footer class="bg-gray-600 p-2 flex items-center shadow-lg">
    <div class="text-center center mx-auto">
        <p>Última actualización: 04/03/2025, 12:33 p. m.</p>
        <p class="text-gray-300">by Felipe Poliszuk</p>
    </div>
</footer>