<header class="bg-gray-600 w-full flex justify-between items-center py-8 px-12 shadow-lg">
    <div class="flex items-center gap-4">
        <img class="w-16" src="/src/assets/dolar.png" alt="$">
        <div>
            <h1 class="text-4xl">Cotizaciones de Dólar</h1>
            <h2 class="text-gray-300">Valores actualizados de compra y venta</h2>
        </div>
    </div>

    <a class="hover:scale-[1.1]" target="_blank" rel="noopener noreferrer" href="https://github.com/FelipePoliszuk/dolargentina">
        <img class="w-16" src="/src/assets/github.png" alt="GitHub">
    </a>
</header>
