---
// import github from '../images/github.png';
---

<header class="flex justify-between py-8 px-12 bg-gray-800 opacity">
    <div class="flex flex-col">
        <h1 class=" text-4xl">Cotizaciones del Dolar</h1>
        <h2 class=" text-2xl">Valores actualizados de compra y venta</h2>
    </div>

        <div>
            <a href="https://github.com/FelipePoliszuk/dolargentina">
                <img class="w-16" src="src/assets/github.png" alt="GitHub"></img>
            </a>
            
        </div>
</header>