<header
  class="bg-white dark:bg-gray-800 w-full flex justify-between items-center dark:shadow-lg shadow-sm lg:py-7 lg:px-11 md:py-5 md:px-8 py-4 px-2"
>
  <div class="flex items-center gap-4">
    <span class="lg:text-6xl text-5xl">$</span>
    <div>
      <h1 class="lg:text-5xl md:text-3xl text-xl">Cotizaciones de Dólar</h1>
      <p class="lg:text-base text-xs">Valores actualizados de compra y venta</p>
    </div>
  </div>
  <div class="flex items-center lg:gap-6 gap-2">
    <button
      id="theme-toggle"
      class="lg:scale-[1] scale-[0.8] p-2 rounded-full border border-gray-500 dark:border-gray-100 lg:hover:scale-[1.1] active:scale-[1.1]"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-moon"
        id="moon-icon"><path d="M12 3a6 6 0 0 0 9 9 9 9 0 1 1-9-9Z"></path></svg
      >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-sun"
        id="sun-icon"
        ><circle cx="12" cy="12" r="4"></circle><path d="M12 2v2"></path><path
          d="M12 20v2"></path><path d="m4.93 4.93 1.41 1.41"></path><path
          d="m17.66 17.66 1.41 1.41"></path><path d="M2 12h2"></path><path
          d="M20 12h2"></path><path d="m6.34 17.66-1.41 1.41"></path><path
          d="m19.07 4.93-1.41 1.41"></path></svg
      >
    </button>
    <a
      class="hover:scale-[1.1]"
      target="_blank"
      rel="noopener noreferrer"
      href="https://github.com/FelipePoliszuk/dolargentina"
    >
      <svg
        class="lg:w-11 w-9 fill-black dark:fill-white"
        viewBox="0 0 20 20"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
      >
        <g id="SVGRepo_iconCarrier">
          <title>GitHub</title>
          <path
            d="M10 0.5C4.753 0.5 0.5 4.753 0.5 10C0.5 14.253 3.438 17.792 7.344 18.994C7.794 19.074 7.975 18.794 7.975 18.554C7.975 18.339 7.963 17.635 7.963 16.884C5 17.39 4.351 15.97 4.351 15.97C3.937 15.003 3.375 14.751 3.375 14.751C2.544 14.243 3.432 14.256 3.432 14.256C4.344 14.317 4.823 15.201 4.823 15.201C5.628 16.637 7.013 16.2 7.538 15.97C7.613 15.385 7.844 14.988 8.1 14.751C5.931 14.504 3.618 13.647 3.618 9.946C3.618 8.852 4.025 7.972 4.688 7.292C4.588 7.051 4.23 5.956 4.788 4.536C4.788 4.536 5.619 4.279 7.944 5.685C8.69 5.478 9.462 5.375 10.231 5.371C11 5.375 11.773 5.478 12.519 5.685C14.844 4.279 15.675 4.536 15.675 4.536C16.233 5.956 15.875 7.051 15.775 7.292C16.438 7.972 16.844 8.852 16.844 9.946C16.844 13.657 14.525 14.5 12.356 14.741C12.613 14.975 12.844 15.363 12.919 15.948C13.444 16.178 14.825 16.621 15.631 15.182C15.631 15.182 16.107 14.298 17.019 14.237C17.019 14.237 17.906 14.224 17.075 14.732C17.075 14.732 16.513 14.984 16.1 15.951C16.1 15.951 15.45 17.371 12.488 16.865C12.488 17.616 12.475 18.32 12.475 18.536C12.475 18.775 12.65 19.054 13.106 18.977C17.012 17.779 19.95 14.24 19.95 10C19.95 4.753 15.697 0.5 10 0.5Z"
          ></path>
        </g>
      </svg>
    </a>
  </div>
</header>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    document.documentElement.classList.add("loaded");
    const button = document.getElementById("theme-toggle");
    const html = document.documentElement;
    const moon = document.getElementById("moon-icon");
    const sun = document.getElementById("sun-icon");

    // Cargar tema guardado o usar preferencia del sistema
    const savedTheme = localStorage.getItem("theme");

    if (
      savedTheme === "dark" ||
      (!savedTheme && window.matchMedia("(prefers-color-scheme: dark)").matches)
    ) {
      html.classList.add("dark");
    } else {
      html.classList.remove("dark");
    }

    // Mostrar el icono correcto desde el inicio
    if (html.classList.contains("dark")) {
      moon?.classList.add("hidden");
      sun?.classList.remove("hidden");
    } else {
      sun?.classList.add("hidden");
      moon?.classList.remove("hidden");
    }

    // Cambiar tema al hacer clic
    button?.addEventListener("click", () => {
      const isDark = html.classList.toggle("dark");

      localStorage.setItem("theme", isDark ? "dark" : "light");

      moon?.classList.toggle("hidden", isDark);
      sun?.classList.toggle("hidden", !isDark);
    });
  });
</script>
