---
import Card from "./Card.astro"
---

<main class="container mx-auto px-4 py-8 flex-1 flex-col">
  <div class="grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3" id="exchange-rates-container">
    <Card title="Dólar Oficial">
    </Dolar>
    <Card title="Dólar Blue">
    </Card>
    <Card title="Dólar MEP">
    </Card>
    <Card title="Dólar Tarjeta">
    </Card>
    <Card title="Dólar Cripto">
    </Card>
    <Card title="Dólar Mayorista">
    </Card>
    <Card title="Dólar Minorista">
    </Card>    
    <Card title="Dólar Turista">
    </Card>
    <Card title="Dólar CCL">
    </Card>
  </div>
</main>
