---
import Card from "./Card.astro";
import DolarAPI from "../DolarAPI.astro";
---

<DolarAPI />

<main class="container mx-auto pt-6 flex-1">
  <!-- Botones de navegación -->
  <div class="lg:inline-flex rounded-full lg:gap-4 gap-2 mx-4 flex justify-center">
    <button
      id="cotizaciones-toggle"
      class="transition-all duration-200 ease-in-out shadow-lg p-1 lg:p-3 text-sm font-medium bg-white dark:bg-gray-600 dark:text-white border border-gray-300 dark:border-gray-700 rounded-lg active:bg-gray-100 dark:active:bg-gray-700"
      >Cotizaciones</button
    >
    <button
      id="others-toggle"
      class="transition-all duration-200 ease-in-out shadow-lg p-1 lg:p-3 text-sm font-medium bg-white dark:bg-gray-800 dark:text-white border border-gray-300 dark:border-gray-700 rounded-lg active:bg-gray-100 dark:active:bg-gray-700"
      >Otras cotizaciones</button
    >
    <button
      id="calculator-toggle"
      class="transition-all duration-200 ease-in-out shadow-lg p-1 lg:p-3 text-sm font-medium bg-white dark:bg-gray-800 dark:text-white border border-gray-300 dark:border-gray-700 rounded-lg active:bg-gray-100 dark:active:bg-gray-700"
      >Calculadora de divisas</button
    >
  </div>

  <!-- Vista Cotizaciones -->
  <div id="dolar-tab" class="container mx-auto px-4 py-8 flex-1 hidden">
    <div class="grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3">
      <Card title="Dólar Oficial" tipo="oficial" moneda="dolar" />
      <Card title="Dólar Blue" tipo="blue" moneda="dolar" />
      <Card title="Dólar MEP" tipo="bolsa" moneda="dolar" />
      <Card title="Dólar Tarjeta" tipo="tarjeta" moneda="dolar" />
      <Card title="Dólar Cripto" tipo="cripto" moneda="dolar" />
      <Card title="Dólar Mayorista" tipo="mayorista" moneda="dolar" />
      <Card title="Dólar CCL" tipo="contadoconliqui" moneda="dolar" />
    </div>
  </div>

  <!-- Vista Otras Cotizaciones -->
  <div id="others-tab" class="container mx-auto px-4 py-8 flex-1 hidden">
    <div class="grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3">
      <Card title="Euro" tipo="Euro" moneda="moneda" />
      <Card title="Real Brasileño" tipo="Real Brasileño" moneda="moneda" />
      <Card title="Peso Uruguayo" tipo="Peso Uruguayo" moneda="moneda" />
      <Card title="Peso Chileno" tipo="Peso Chileno" moneda="moneda" />
    </div>
  </div>

  <!-- Calculadora de Divisas -->
  <div id="calculator-tab" class="container mx-auto px-4 py-8 flex-1 ">
    <div class="lg:px-10 px-4 py-8 rounded-2xl dark:bg-gray-800 bg-white">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <!-- Columna izquierda - Calculadora -->
        <div class="py-3 px-5 space-y-6">
          <label class="block">Cantidad:</label>
          <div class="relative">
            <span
              class="absolute left-3 top-1/2 transform -translate-y-1/2 text-gray-400"
              >$</span
            >
            <input
              type="number"
              class="input-field w-full px-8 py-2 border border-gray-800 dark:border-gray-400 rounded-lg"
              value="1"
            />
          </div>

          <label class="block">De:</label>
          <select
            id="moneda-origen"
            class="select-field p-2 border border-gray-800 dark:border-gray-400 rounded-lg w-full"
          >
            <option value="usd">Dólar Oficial</option>
            <option value="eur">Euro</option>
            <option value="brl">Real Brasileño</option>
            <option value="uyu">Peso Uruguayo</option>
            <option value="clp">Peso Chileno</option>
            <option value="ars">Peso Argentino</option>
          </select>

          <label class="block">A:</label>
          <select
            id="moneda-destino"
            class="select-field p-2 border border-gray-800 dark:border-gray-400 rounded-lg w-full"
          >
            <option value="eur">Euro</option>
            <option value="brl">Real Brasileño</option>
            <option value="uyu">Peso Uruguayo</option>
            <option value="clp">Peso Chileno</option>
            <option value="usd">Dólar Oficial</option>
            <option value="ars">Peso Argentino</option>
          </select>

          <div class="pt-4">
            <span>Equivale a:</span>
            <div class="flex items-center justify-between">
              <span class="text-4xl font-bold resultado"></span>
            </div>
          </div>
        </div>

        <div class="w-full">
          <!-- Tabla de cotizaciones -->
          <table class="w-full min-w-container ">
            <!-- Encabezado -->
            <thead>
              <tr class="border-b dark:border-gray-700">
                <th class="py-3 text-left font-semibold">Cotizaciones</th>
                <th class="py-3 text-right font-semibold">Compra</th>
                <th class="py-3 text-right font-semibold">Venta</th>
              </tr>
            </thead>
        
            <!-- Cuerpo -->
            <tbody class="divide-y divide-gray-200 dark:divide-gray-700">
              <!-- Dólar Oficial -->
              <tr class="hover:bg-gray-50 dark:hover:bg-gray-800 transition-colors">
                <td class="py-3 text-left">Dólar Oficial</td>
                <td class="py-3 text-right">
                  <div class="valor-compra" data-moneda="dolar" data-tipo="oficial"></div>
                </td>
                <td class="py-3 text-right">
                  <div class="valor-venta" data-moneda="dolar" data-tipo="oficial"></div>
                </td>
              </tr>
        
              <!-- Euro -->
              <tr class="hover:bg-gray-50 dark:hover:bg-gray-800 transition-colors">
                <td class="py-3 text-left">Euro</td>
                <td class="py-3 text-right">
                  <div class="valor-compra" data-moneda="moneda" data-tipo="Euro"></div>
                </td>
                <td class="py-3 text-right">
                  <div class="valor-venta" data-moneda="moneda" data-tipo="Euro"></div>
                </td>
              </tr>
        
              <!-- Real Brasileño -->
              <tr class="hover:bg-gray-50 dark:hover:bg-gray-800 transition-colors">
                <td class="py-3 text-left">Real Brasileño</td>
                <td class="py-3 text-right">
                  <div class="valor-compra" data-moneda="moneda" data-tipo="Real Brasileño"></div>
                </td>
                <td class="py-3 text-right">
                  <div class="valor-venta" data-moneda="moneda" data-tipo="Real Brasileño"></div>
                </td>
              </tr>
        
              <!-- Peso Uruguayo -->
              <tr class="hover:bg-gray-50 dark:hover:bg-gray-800 transition-colors">
                <td class="py-3 text-left">Peso Uruguayo</td>
                <td class="py-3 text-right">
                  <div class="valor-compra" data-moneda="moneda" data-tipo="Peso Uruguayo"></div>
                </td>
                <td class="py-3 text-right">
                  <div class="valor-venta" data-moneda="moneda" data-tipo="Peso Uruguayo"></div>
                </td>
              </tr>
        
              <!-- Peso Chileno -->
              <tr class="hover:bg-gray-50 dark:hover:bg-gray-800 transition-colors">
                <td class="py-3 text-left">Peso Chileno</td>
                <td class="py-3 text-right">
                  <div class="valor-compra" data-moneda="moneda" data-tipo="Peso Chileno"></div>
                </td>
                <td class="py-3 text-right">
                  <div class="valor-venta" data-moneda="moneda" data-tipo="Peso Chileno"></div>
                </td>
              </tr>
            </tbody>
          </table>
          
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    setupTabsToggle();
  });

  function setupTabsToggle() {
    const tabs = {
      cotizaciones: {
        button: document.getElementById("cotizaciones-toggle"),
        content: document.getElementById("dolar-tab"),
      },
      others: {
        button: document.getElementById("others-toggle"),
        content: document.getElementById("others-tab"),
      },
      calculator: {
        button: document.getElementById("calculator-toggle"),
        content: document.getElementById("calculator-tab"),
      },
    };

    function resetTabs() {
      Object.values(tabs).forEach(({ button, content }) => {
        button?.classList.remove("dark:bg-gray-600", "bg-gray-100");
        button?.classList.add("dark:bg-gray-800", "bg-white");
        content?.classList.add("hidden");
      });
    }

    Object.entries(tabs).forEach(([key, { button, content }]) => {
      button?.addEventListener("click", () => {
        resetTabs();
        // Primero removemos TODAS las clases de fondo previas
        button.classList.remove("dark:bg-gray-800", "bg-white");
        // Luego agregamos las nuevas clases de fondo
        button.classList.add("dark:bg-gray-600", "bg-gray-100");
        content.classList.remove("hidden");
      });
    });
  }
</script>
