---
import Dolar from "./Dolar.astro"
---

<main class="container mx-auto px-4 py-8 flex-1 flex-col">
  <div class="grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3" id="exchange-rates-container">
    <Dolar title="Dólar Oficial">
    </Dolar>
    <Dolar title="Dólar Blue">
    </Dolar>
    <Dolar title="Dólar MEP">
    </Dolar>
    <Dolar title="Dólar Tarjeta">
    </Dolar>
    <Dolar title="Dólar Mayorista">
    </Dolar>
    <Dolar title="Dólar Turista">
    </Dolar>
  </div>
</main>
