---
import '../styles/global.css';
import Header from '../components/Header.astro';
import Main from '../components/Main.astro';
import '@fontsource-variable/onest';
import Footer from '../components/Footer.astro';
---


<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/dolar.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Dolargentina - Precio del Dólar hoy (Oficial, Blue, MEP, CCL)</title>
	</head>
	<body class="flex flex-col min-h-screen bg-amber-100 ">
		<Header/>
		<Main/>
		<Footer/>
	</body>
</html>

<style>
</style>
